* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    height: 100vh;
    padding-top: 27px;
}
h1 {
    color: #18ce6d;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 27px;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
}
canvas {
    height: 600px;
    width: 800px;
}